.shopBtnWrap:not(:last-child) {
  margin-bottom: 15px;
}

.shopBtn {
  border: 0;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 25px;
  line-height: 47px;
  white-space: nowrap;
  width: 100%;

  cursor: pointer;
  transition: 0.35s;
}
.shopBtn:hover {
  background-color: #f5f4fa;
  color: #212121;
}

.shopBtnActive {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  background-color: #f5f4fa;
  color: #212121;
}

.shopBtn:disabled {
  cursor: not-allowed;
  background-color: #757575;
}
