.pageContent {
  display: flex;
  flex-direction: column;
  height: 80vh;
}
@media (max-width: 767px) {
  .pageContent {
    height: 100%;
  }
}

.mainContentWrap {
  display: flex;
  height: 100%;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .mainContentWrap {
    flex-direction: column-reverse;
  }
}

.userWrap {
  padding: 20px 30px;
  border: 1px solid #2196f3;
  border-radius: 10px;
  margin-right: 20px;
  min-width: 45%;
}
@media (max-width: 1023px) {
  .userWrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .userWrap {
    min-width: auto;
    margin-right: 0;
    padding: 15px;
  }
}

.mainText {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-right: 30px;
}

.productsWrap {
  padding: 20px;
  border: 1px solid #2196f3;
  border-radius: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .productsWrap {
    margin-bottom: 15px;
    padding: 15px;
  }
}

.orderResume {
  display: flex;
  align-self: flex-end;
  align-items: baseline;
}

.successText {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: green;
}
